@import 'variables';
//@import '../../node_modules/npm-font-open-sans/open-sans.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  color: $tertiary;
  font-family: 'Open Sans', sans-serif;
}

button {
  padding: 6px 20px;
  border: 0;
  color: white;
  font-size: 10pt;
  cursor: pointer;
  background: $primary;
  border-radius: 5px;
  transition: background-color 0.3s;
  outline: none;
}

button:hover {
  background: $primary_dark;
}

.outlined {
  border: 1px solid $primary;
  color: $primary;
  transition: color 0.3s;
  transition: border-color 0.3s;
  background: white;
}

.outlined:hover {
  border: 1px solid $primary_dark;
  color: $primary_dark;
  background: white;
}

.background-red {
  background: $red;
}

.background-red:hover {
  background: $red_dark;
}

.background-green {
  background: $green;
}

.background-green:hover {
  background: $green_dark;
}

a {
  color: $primary_dark;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: $primary;
}

input[type=text],
input[type=password],
input[type=number],
textarea {
  border: 1px solid $primary;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 10pt;
  color: $secondary;
  outline: none;
}

.container {
  display: grid;
  grid-template-columns: auto 600px auto;
  min-height: 500px;
  padding-top: 50px;
}

.container div {
  grid-column: 2;
}

.column {
  grid-column: auto;
}

.right {
  justify-self: end;
}

.small-text {
  font-size: 9pt;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.profile-image {
  float: left;
  margin-right: 20px;
  height: 100px;
  width: 100px;
  background-size: 100%;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: auto 300px auto;
  }
}
